* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px auto;
}

.score {
    text-align: center;
    margin: 0 auto;
}

.playground {
    margin-top: 20px;
    width: 250px;
}

.playground ul {
    list-style: none;
}

.playground ul > li > ul {
    display: flex;
    flex-direction: row;
}
.playground ul > li > ul > li {
    width: 25px;
    height: 25px;
    border: 1px solid #ddd;
}

.tree {
    background-color: hsl(123, 80%, 35%);
}
.sq {
    background-color: hsl(351, 61%, 48%);
}
.line {
    background-color: hsl(234, 71%, 50%);
}
.lzee {
    background-color: aqua;
}
.rzee {
    background-color: #f71d00;
}
.ll {
    background-color: hsl(36, 100%, 48%);
}
.rl {
    background-color: hwb(204 0% 4%);
}
