* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px auto;
}

.score {
    text-align: center;
    margin: 0 auto;
}

.playground {
    margin-top: 20px;
    width: 250px;
}

.playground ul {
    list-style: none;
}

.playground ul > li > ul {
    display: flex;
    flex-direction: row;
}
.playground ul > li > ul > li {
    width: 25px;
    height: 25px;
    border: 1px solid #ddd;
}

.tree {
    background-color: hsl(123, 80%, 35%);
}
.sq {
    background-color: hsl(351, 61%, 48%);
}
.line {
    background-color: hsl(234, 71%, 50%);
}
.lzee {
    background-color: aqua;
}
.rzee {
    background-color: #f71d00;
}
.ll {
    background-color: hsl(36, 100%, 48%);
}
.rl {
    background-color: hwb(204 0% 4%);
}

.gameText {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 32px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
}

.gameText button {
    color: #fff;
    background-color: salmon;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
